{% load static %}
{% load json_encode from json_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
</head>
<body>
    <header>
        <h1>Vendor Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{% url 'vendor_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'update_user_details' %}">My Profile</a></li>
                <li><a href="{% url 'view_messages1' %}">View Chatroom ({{ unread_message_count }})</a></li>
                <li><a href="{% url 'post_product' %}">Post Products</a></li>
                <li><a href="{% url 'view_products' %}">View Products</a></li>
                <li><a href="{% url 'view_orders' %}">View Orders</a></li> 
                <li><a href="{% url 'view_ratings' %}">View Ratings</a></li>                
                <li><a href="{% url 'vendor_logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Render the form fields -->

    <button type="submit">Update Details</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <footer>
        <p>&copy; 2024 E-Waste Shop. All rights reserved.</p>
    </footer>
</body>
</html>
